/* body {
    background-image: url(background.jpg);
    background-size: 100%;
}

.styledTextField fieldset {
    border-radius: '25px';
} */

.leaflet-container {
  /* padding: 90px -20px 0px 0px;  */
  height: 92vh;  
  position: fixed;
  top: 65px;
  bottom: 0px;
  left: 0px;
  right: 15px;
  width: 100%;
}

.request-popup .leaflet-popup-content-wrapper {
  border-radius: 0px;
}

.leaflet-popup {
  padding-bottom: 50px; /* adjust as you see fit */
}

/* .leaflet-popup-tip {
  background: rgba(0, 0, 0, 0) !important;
  box-shadow: none !important;
} */


/* #map {
  position: fixed;
  top: 75px;
  bottom: 0px;
  width: 100%;
} */